[user]
	email = tuesd4y@protonmail.ch
	name = Chris Stelzmüller
[core]
	autocrlf = input
[alias]
	ll = log --graph --format=\"%C(yellow)%h%C(red)%d%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(blue)<%an>%C(reset)\"
[init]
	defaultBranch = master
[pull]
	rebase = false
